.estate-detail {
  padding: 2em 0;
}

.estate-description {
  text-align: left;
  color: var(--primary-color);
}

.description-title {
  margin-bottom: 0.5em;
  padding: 0.25em 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.estate-subtitle {
  margin-bottom: 0.15em;
}

.estate-list {
  line-height: 2;
  padding: 0 1em;
}

.estate-list i {
  color: var(--red-color);
  padding: 0 0.2em;
}

.video-estate iframe,
.video-estate video {
  height: 400px;
}

.download-form {
  align-self: center;
}

.download-form a {
  background-color: var(--primary-color);
  padding: 0.75em 1em;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.download-form a:hover {
  transform: scaleX(1.5);
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
}

@media (min-width: 768px) {
  .description-title {
    font-size: 1.75rem;
  }

  .estate-subtitle {
    font-size: 1.5rem;
  }
}
