.banner-image {
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .banner-image {
    height: 90vh;
    width: 100%;
  }
}

/* services */
.services {
  padding: 4em 0;
}

.services i {
  font-size: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  height: 3.85rem;
  width: 3.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.05em;
  margin-bottom: 0.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 768px) {
  .services i {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
  }
}

.services .card {
  cursor: pointer;
}

/* contact link */
.contact-link {
  background-color: var(--primary-color);
}

.contact-link h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.contact-link .grid {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.contact-us-btn {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  min-width: 200px;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.contact-us-btn:hover,
.contact-us-btn:active,
.contact-us-btn:focus {
  color: var(--primary-color);
  background-color: #fff;
  transform: scaleX(1.05);
  -webkit-transform: scaleX(1.05);
  -moz-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
}

/* estate-detail */
.estate-slider {
  padding: 4em 0;
}

.estate-slider h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.estate-slider .swiper-slide {
  overflow: hidden;
  padding: 0;
}

.estate-slider .swiper-slide img,
.estate-slider .swiper-slide .card {
  width: 100%;
}

.estate-slider .swiper-slide img {
  height: 85vh;
}

.estate-slider .swiper-slide .card {
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.estate-slider .swiper-slide .card::-webkit-scrollbar {
  display: none;
}

.estate-description {
  text-align: left;
  color: var(--primary-color);
}

.description-title {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  padding: 0.25em 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.estate-subtitle {
  font-size: 1.15rem;
  margin-bottom: 0.15em;
}

.estate-list {
  line-height: 2;
}

.estate-list i {
  color: var(--red-color);
  padding-right: 0.2em;
}

/* Video show */
.video-show {
  padding: 2em 0;
  background-image: linear-gradient(black, black),
    url("../images/backgrounds/estate-bg.jpeg");
  background-blend-mode: saturation;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.video-show .container {
  position: relative;
}

.video-show iframe {
  height: 400px;
}

/* physical allocation */
.physical-allocation {
  padding: 4em 0;
}

.physical-allocation h2 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .grid {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* pop-up */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  display: none;
}

.pop-up.appear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-inner {
  width: 90%;
  margin: 0 auto;
  height: 70vh;
  position: relative;
  animation-duration: 2s;
  animation-name: 1s;
}

.pop-up-image {
  width: 90%;
  height: 70vh;
  object-fit: center;
  border: 5px solid #fff;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .pop-up-inner {
    height: 90vh;
    width: max-content;
  }

  .pop-up-image {
    height: 90vh;
    width: auto;
  }
}

.pop-up .close i {
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0.75em;
  bottom: 0.25em;
}

@media (min-width: 768px) {
  .pop-up .close i {
    right: 0.5em;
  }
}

@media (min-width: 768px) {
  .description-title {
    font-size: 1.75rem;
  }

  .estate-subtitle {
    font-size: 1.5rem;
  }

  .swiper-slide img {
    height: 100%;
  }

  .services .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
