/* call to action */
.call-to-action {
  color: var(--primary-color);
}

.call-to-action img {
  height: 60vh;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

/* carousel buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
  font-size: 2em;
}

.carousel-caption {
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.carousel-caption h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.carousel-caption p {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 0.25em;
  font-weight: 500;
}

.carousel-control-next-icon:after {
  content: "";
  font-size: 55px;
  color: var(--red-color);
}

.carousel-control-prev-icon:after {
  content: "";
  font-size: 55px;
  color: var(--red-color);
}

/* services */
.services {
  padding: 4em 0;
}

.image-title {
  color: var(--primary-color);
  padding: 0.25em 0;
  font-size: 2rem;
}

.services i {
  font-size: 3rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em;
  margin-bottom: 0.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services .card {
  cursor: pointer;
}

/* contact link */
.contact-link {
  background-color: var(--primary-color);
}

.contact-link h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.contact-link .grid {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.contact-us-btn {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  min-width: 200px;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.contact-us-btn:hover,
.contact-us-btn:active,
.contact-us-btn:focus {
  color: var(--primary-color);
  background-color: #fff;
  transform: scaleX(1.05);
  -webkit-transform: scaleX(1.05);
  -moz-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
}

/* estate-detail */
.estate-slider {
  padding: 4em 0;
}

.estate-slider h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.estate-slider .swiper-slide {
  overflow: hidden;
  padding: 0;
}

.estate-slider .swiper-slide img,
.estate-slider .swiper-slide .card {
  width: 100%;
}

.estate-slider .swiper-slide img {
  height: 85vh;
}

.estate-slider .swiper-slide .card {
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.estate-slider .swiper-slide .card::-webkit-scrollbar {
  display: none;
}

.estate-description {
  text-align: left;
  color: var(--primary-color);
}

.description-title {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  padding: 0.25em 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.estate-subtitle {
  font-size: 1.15rem;
  margin-bottom: 0.15em;
}

.estate-list {
  line-height: 2;
}

.estate-list i {
  color: var(--red-color);
  padding-right: 0.2em;
}

/* Video show */
.video-show {
  padding: 2em 0;
  background-image: linear-gradient(black, black),
    url("../images/backgrounds/estate-bg.jpeg");
  background-blend-mode: saturation;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.video-show .container {
  position: relative;
}

.video-show iframe {
  height: 400px;
}

/* pop-up */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  display: none;
}

/* physical allocation */
.physical-allocation {
  padding: 4em 0;
}

.physical-allocation h2 {
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .grid {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pop-up.appear {
  display: block;
}

.pop-up-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 70%;
}

.pop-up-image {
  border: 10px solid #fff;
  border-radius: 20px;
  height: 70vh;
  object-fit: center;
  width: 100%;
}

.pop-up .close {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

.pop-up .close i {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

@media (min-width: 768px) {
  .call-to-action img {
    height: 80vh;
  }

  .description-title {
    font-size: 1.75rem;
  }

  .estate-subtitle {
    font-size: 1.5rem;
  }

  .carousel-caption {
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
  }

  .swiper-slide img {
    height: 100%;
  }

  .carousel-caption h1 {
    font-size: 3rem;
  }

  .pop-up-inner {
    width: 40%;
  }

  .services .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .pop-up-image {
    height: 80vh;
  }
}
